* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(75, 123, 75);
    display: flex;
    justify-content: center;
    align-items: center;

}

#panel {
    overflow: hidden;

    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 15px;

}

#ptop {
    background-color: rgb(33, 62, 33);
    width: 100%;
    height: 90px;
    display: flex;
    padding: 0 20%;
    justify-content: space-between;
    align-items: center;


}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.box {
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    padding: 8px 15px;
    border-radius: 5px;
    color: aquamarine;

    display: flex;
    align-items: center;
    justify-content: center;
}

#pbtm {
    padding: 20px;
    width: 100%;
    height: calc(100%-90px);
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bubble {
    background-color: rgb(77, 106, 79);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(81, 142, 89);
}